.content
  %h2.content-head.is-center Moving call out to submit stats
  = form_for @company, url: {action: "create"}, html:{class: 'form pure-form pure-form-stacked center'} do |f|
    %fieldset
      .pure-g
        .pure-u-1.pure-u-md-3-3
          %legend The Basics
        .pure-u-1.pure-u-md-1-3
          = f.label :url, 'Company URL'
          .pure-u-23-24
            http://
            = f.text_field :url, :placeholder => 'google.com'

        .pure-u-1.pure-u-md-1-3
          = f.label :name, "Company Name"
          .pure-u-23-24
            = f.text_field :name, :placeholder => 'Google'

        .pure-u-1.pure-u-md-1-3
          = f.label :is_public, "Public/Private Company?"
          .pure-u-23-24
            = f.select :is_public, options_for_select([['Public', 'true'], ['Private', 'false']])

        .pure-u-1.pure-u-md-3-3
          %legend The Location

        .pure-u-1.pure-u-md-3-3
          %label{:for => "country"} Country
          .pure-u-23-24
            = select_tag "company[headquarter][country]", options_from_collection_for_select(@countries, 'last', 'first'), prompt: "Select Country"

        .pure-u-1.pure-u-md-3-3#headquarter-state
          %label{:for => "state"} State
          .pure-u-23-24
            = select_tag "company[headquarter][state]"

        .pure-u-1.pure-u-md-3-3#headquarter-city
          %label{:for => "state"} City
          .pure-u-23-24
            = select_tag "company[headquarter][city]"

        .pure-u-1.pure-u-md-3-3
          %legend The Numbers

        .pure-u-1.pure-u-md-1-3
          .pure-u-23-24
            = f.label :company_size_tier_id, 'What is your company size?'
            = f.select :company_size_tier_id, @company_size_tier.collect {|tier| [tier.range, tier.id]}
          %span employees

        .pure-u-1.pure-u-md-1-3
          .pure-u-23-24
            %label{:for => "state"} 'How many software engineers does your company have?'
            %p Link or brief description of job title here
            = number_field_tag "company[company_staff_stat][num_eng]", :min => 1, :max => 100000

        .pure-u-1.pure-u-md-1-3
          .pure-u-23-24
            %label{:for => "state"} 'How many of those engineers are female?'
            = number_field_tag "company[company_staff_stat][num_female_eng]", :min => 0, :max => 100000

          / ask if they are engineers and if they are, what are their gender, language and salary if they wish to report
        .pure-u-1.pure-u-md-1-3
        .pure-u-1.pure-u-md-1-3
          = f.submit "Submit", :class => 'button pure-button'

:javascript
  $(function () {

    function location_options_reset (){
      $('#headquarter-state').hide();
      $('#headquarter-city').hide();
      $("#company_headquarter_state").find('option').remove();
      $("#company_headquarter_city").find('option').remove();
    };

    location_options_reset();

    $('#company_headquarter_country').change(function(e) {
      location_options_reset();
      var country_code = $(this).val();
      var url = '/companies/' + country_code + '/states'
      $.getJSON(url, function(data){
        if (!jQuery.isEmptyObject(data)) {
          var optionsValues = '<option selected>Select State</option>'
          $.each(data, function(code, name){
            optionsValues += '<option value="' + code + '">' + name + '</option>'
          });
          $('#company_headquarter_state').html(optionsValues);
          $('#company_headquarter_city').html('<option selected>Select Cities</option>');
          $('#headquarter-state').show();
        };
      });
    });

    $('#company_headquarter_state').change(function(e) {
      $('#headquarter-city').hide();
      $("#company_headquarter_city").find('option').remove();
      var state_code = $(this).val();
      var url = '/companies/' + state_code + '/cities'
      $.getJSON(url, function(data){
        if (!jQuery.isEmptyObject(data)) {
          var optionsValues = '<option selected>Select Cities</option>'
          $.each(data, function(key, name){
            optionsValues += '<option value="' + name + '">' + name + '</option>'
          });
          $('#company_headquarter_city').html(optionsValues);
          $('#headquarter-city').show();
        };
      });
    });


  });