<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Career Bootcamp - Where you kickstart your career">
  <title>FED-UP Female Engineering Disparity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :stylesheets %>
  <%= include_gon %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>

  <header class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="/">Female <i class="fa fa-code"></i> Code</a>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><%= link_to "Home", { controller: "companies", action: "index"}, class: "pure-menu-link" %></li>
        <% if logged_in? %>
          <li class="pure-menu-item">Welcome <%= current_user.name %></li>
          <li class="pure-menu-item"><%= link_to "Log out", logout_path, method: "delete", :class => "pure-menu-link" %></li>
        <% else %>
          <li class="pure-menu-item"><%= link_to "Sign Up/Log In", "/auth/github", :class => "pure-menu-link" %></li>
        <% end %>
      </ul>
    </div>
  </header>

  <div class="content">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>
  </div>

  <%= yield :javascripts %>
</body>
</html>
